@page "/list"
@namespace FinnanceApp.Client.Pages.BillsPages
@layout MainLayout
@attribute [Authorize]


<div class="container-fluid">
    <div class="row">
        <div class="col-sm"><ShopList></ShopList></div>
            
            <div class="col-sm"><PersonList></PersonList></div>
            </div>

</div>
@code {

}
<style>

    .col-sm {
        width: auto;
        padding: 0.5rem;
        color: #fff;
        text-align: center;
    }
</style>
