@inherits LayoutComponentBase
@inject IJSRuntime JsRunTime
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@namespace FinnanceApp.Client.Shared.Layouts
@using System.Security.Claims


<AuthorizeView Roles="Admin">
        <a class="nav-link" href="auserlist">
            <i class="fas fa-th-list"></i>
            <span>User List</span>
        </a>
   
</AuthorizeView>

<AuthorizeView>
    <Authorized>


        <body id="page-top">
            <div id="wrapper">
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                        <div class="sidebar-brand-text mx-3">OSFinnanceApp </div>
                    </a>
                    <hr class="sidebar-divider my-0">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">
                        Bills
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/bills/page/1">
                            <i class="fas fa-th-list"></i>
                            <span>Bill List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bills/add">
                            <i class="fas fa-plus-circle"></i>
                            <span>Add Bill</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">
                            <i class="fas fa-users"></i>
                            <span>Shops and Payers</span>
                        </a>

                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">
                        Additional
                    </div>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/monthlist">
                           <i class="fas fa-money-check-alt"></i>
                            <span>Month Bill</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/utility">
                           <i class="fas fa-align-justify"></i>
                            <span>Additional </span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">
                           <i class="fas fa-info"></i>
                            <span>About </span>
                        </a>

                    </li>

                </ul>


                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                            <!-- Topbar Navbar -->
                            <ul class="navbar-nav ml-auto">


                                <!-- Nav Item - User Information -->
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span
                                            class="mr-2 d-none d-lg-inline text-gray-600 small">@context.User.Identity.Name</span>
                                        <img class="img-profile rounded-circle"
                                            src="@GetUserAvatar(@context.User.Claims.FirstOrDefault().Value)"
                                            onerror="this.src='Avatars/avatar_0.jpg';">

                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="profile">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="logout">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Logout
                                        </a>
                                    </div>
                               </li>
                            </ul>
                        </nav>
                        <div class="container-fluid">
                            @Body
                            <footer class="sticky-footer bg-white">
                                <div class="container my-auto">
                                    <div class="copyright text-center my-auto">
                                        <span>Copyright &copy; OSFinnanceApp 2020 Designed By Start Bootstrap</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </body>
    </Authorized>
    <NotAuthorized>
        <FinnanceApp.Client.Pages.Redirect.RedirectToLogin></FinnanceApp.Client.Pages.Redirect.RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>

@code
{
    string GetUserAvatar(string id)
    {
        Console.WriteLine(id);
        return "Avatars/avatar_" + id + ".jpg";
    }

}
