@page "/about"
@layout MainLayout
<h>About Page</h>
<p>Designed by Start Bootstrap (MIT LICENSE)</p>
<p>Made by: <a href="https://github.com/OldSinner">OldSinner</a></p>
<p>Last Compilation: 21.03.2021</p>
<p>Contact:</p>
<a>Mail: antylifepatia@gmail.com</a>
